/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/gradient";

$video-player-width: 953px;
$video-width: 644px;
$video-height: 365px;
$video-paddings: 16px;
$common-font: Arial, sans-serif;
$font-size-small: 10px;
$font-size-normal: 14px;
$font-size-medium: 20px;
$font-size-big: 26px;
$main-bg: #eee;
$main-color: #000;
$title-color: #0181bd;
$post-color: #266c0d;

/*----------------------------------
 * Typography & Mixins
 *----------------------------------*/

@mixin style-message {
	font-family: $common-font;
	font-size: $font-size-normal;
	text-align: center;
	line-height: 1.2em;

	background-color: darken($main-bg, 30);
	color: white;
	padding: 10px;
	@include border-radius(6px);
}

@mixin main-title {
	font-family: $common-font;
	font-size: $font-size-big;
	font-weight: bold;
	line-height: 1.5em;
	margin-bottom: 0.2em;
}

@mixin tag-text {
	background-color: #000;
	padding: 2px 4px;
	color: #ddd;
	font-size: 11px;
	font-weight: bold;
}

@mixin bg-gradient {
	// needs latest Compass, add '@import "compass"' to your scss
	background-color: #83b6e1; // Old browsers
	@include filter-gradient(#83b6e1, #d9e9f6, vertical); // IE6-8
	// IE9 SVG, needs conditional override of 'filter' to 'none'
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top,  #83b6e1 0%,#8cbbe3 16%,#99c3e6 32%,#dbeaf6 93%,#d9e9f6 100%));
}

h1,h2,h3 {
	font-weight: bold;
	color: $title-color;
}

h1 {
	@include main-title;
}

h2 {
	@include main-title;
	font-size: $font-size-medium;
	font-weight: normal;
}

h3 {
	@include main-title;
	font-size: $font-size-normal;
	color: #52427b;
}


/*----------------------------------
 * General Properties
 *----------------------------------*/

html {
	height: 100%;
	@include bg-gradient;
}

body {
	font-family: $common-font;
	font-size: $font-size-normal;
	line-height: 1.3em;
	color: $post-color;

	a, a:visited, a:active {
		color: $post-color;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	/* Structural markup is meant to be invisible to the eye */
	.structure {
		display: block;
		text-indent : -9999px;
	}
}


/*----------------------------------
 * Header Section
 *----------------------------------*/
header.logo {
	width: $video-player-width;
	margin: 4px auto;
	position: relative;
	overflow: visible;
	z-index: 100;
	height: 90px;

	a {
		position: absolute;
		background: transparent image-url('logo.png') left top no-repeat;
		width: 157px;
		height: 130px;
		top: 0;
		left:0;

		&:hover {
			background: transparent image-url('logo-hover.png') left top no-repeat;
			width: 161px;
			height: 134px;
			top: -2px;
			left:-2px;
		}
	}
}



/*----------------------------------
 * Player Section
 *----------------------------------*/

#content {
	width: $video-player-width;
	margin: 0 auto 0;
	overflow: hidden;
	position: relative;

	//background-color: darken($main-bg, 8);
	//padding: 20px;
	//@include border-radius(12px);
	background: transparent image-url('player-bg-top.png') left top no-repeat;

	.no-params {
		@include style-message;
		display: none;
	}

	.no-js {
		@include style-message;
	}

	.tv-content {
		margin-top: 20px;
		padding: 0 16px 20px;
		overflow: hidden;
		background: transparent image-url('player-bg-middle.png') left top repeat-y;

	}

	header {
		h1 {
			width: $video-width;
			text-align: right;
		}
	}

	footer {
		background: transparent image-url('player-bg-bottom.png') left bottom no-repeat;
		width: 100%;
		height: 20px;
	}
}

.player-wrapper {
	float: left;
	width: $video-width;

	.player {
		width: $video-width;
		height: $video-height;
		border: 2px solid white;
	}

	.description {

		.published-on {
			font-size: $font-size-normal * 1.1;
			line-height: 2em;
			color: #4a3773;

			strong {
				color: #ba098e;
				font-weight: bold;
			}
		}

		.additional-info {
			margin: 2px 0 5px 0;
		}
	}

	.additional-info {
		overflow: hidden;

		span {
			float:left;

			&.view-count {
				float:right;
				font-size: $font-size-normal * 1.1;
				font-weight: bold;
			}
		}

	}
}

/*----------------------------------
 * Related content section
 *----------------------------------*/

.related-container {
	$related-width: $video-player-width - $video-width - ($video-paddings*3);

	float: right;
	width: $related-width;

	a.related {
		display: block;
		overflow: hidden;
		margin-bottom: 5px;
		padding: 4px;

		&:hover {
			background-color: #fff;
			@include border-radius(8px);
		}
	}

	.related-video {
		position: relative;
		$image-width: 116px;
		$image-height: 63px;

		.thumbnail {
			display: block;
			width: $image-width;
			border: 2px solid white;
			//position: relative; //not with IE :(

			img {
				display: block;
				width: $image-width;
				height: $image-height;
			}

			.video-length {
				position: absolute;
				bottom: 2px;
				left: 88px;
				@include tag-text;
			}
		}

		.details {
			position: absolute;
			left: $image-width + 10px + 4px;
			top: 2px;
			//width = related - image - spaces - padding for anchor - padding for borders
			width: $related-width - $image-width - 10px - 8px - 4px;

			.additional-info {
				clear: both;
				text-decoration: none;

				&:hover {
					text-decoration: none;
				}
			}
		}

		h3 {
			word-wrap: break-word;
		}


	}
}