/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/gradient";

$video-player-width: 953px;
$video-width: 644px;
$video-height: 365px;
$video-paddings: 16px;
$common-font: Arial, sans-serif;
$font-size-small: 10px;
$font-size-normal: 14px;
$font-size-medium: 20px;
$font-size-big: 26px;
$main-bg: #eee;
$main-color: #000;
$title-color: #0181bd;
$post-color: #266c0d;

/*----------------------------------
 * Typography & Mixins
 *----------------------------------*/

@import "typography";

/*----------------------------------
 * General Properties
 *----------------------------------*/

html {
	height: 100%;
	@include bg-gradient;
}

body {
	font-family: $common-font;
	font-size: $font-size-normal;
	line-height: 1.3em;
	color: $post-color;

	a, a:visited, a:active {
		color: $post-color;
		text-decoration: none;

		/*
		&:hover {
			text-decoration: underline;
		}
		*/
	}

	/* Structural markup is meant to be invisible to the eye */
	.structure {
		display: block;
		text-indent : -9999px;
	}
}

/*----------------------------------
 * Header Section
 *----------------------------------*/
header.logo {
	width: $video-player-width;
	margin: 4px auto;
	position: relative;
	overflow: visible;
	z-index: 100;
	height: 90px;

	a {
		position: absolute;
		background: transparent image-url('sprite-logo.png') left top no-repeat;
		width: 157px;
		height: 130px;
		top: 0;
		left:0;

		&:hover {
			background: transparent image-url('sprite-logo.png') left -150px no-repeat;
			width: 161px;
			height: 134px;
			top: -2px;
			left:-2px;
		}
	}
}



/*----------------------------------
 * Player Section
 *----------------------------------*/

#content {
	width: $video-player-width;
	margin: 0 auto 0;
	overflow: hidden;
	position: relative;

	background: transparent image-url('sprite-player.png') left top no-repeat;

	.no-params {
		@include style-message;
		display: none;
	}

	.no-js {
		@include style-message;
	}

	.tv-content {
		margin-top: 20px;
		padding: 0 16px 20px;
		overflow: hidden;
		background: transparent image-url('sprite-player.png') -1906px top repeat-y;

	}

	header {
		h1 {
			width: $video-width;
			text-align: right;
		}
	}

	footer {
		background: transparent image-url('sprite-player.png') -953px top no-repeat;
		width: 100%;
		height: 20px;
	}
}

.player-wrapper {
	float: left;
	width: $video-width;

	.player {
		width: $video-width;
		height: $video-height;
		border: 2px solid white;
	}

	.description {

		.published-on {
			font-size: $font-size-normal * 1.1;
			line-height: 2em;
			color: #4a3773;

			strong {
				color: #ba098e;
				font-weight: bold;
			}
		}

		.additional-info {
			margin: 2px 0 5px 0;
		}
	}

	.additional-info {
		overflow: hidden;

		span {
			float:left;

			&.view-count {
				float:right;
				font-size: $font-size-normal * 1.1;
				font-weight: bold;
			}
		}

	}
}

/*----------------------------------
 * Related content section
 *----------------------------------*/

.related-container {
	$related-width: $video-player-width - $video-width - ($video-paddings*3);

	float: right;
	width: $related-width;

	a.related {
		display: block;
		overflow: hidden;
		margin-bottom: 5px;
		padding: 4px;
		cursor: pointer;
	}

	li {
		display: block;
		&:hover {
			position: relative;
			background-color: white;
			@include border-radius(8px);
		}
	}

	.related-video {
		position: relative;
		$image-width: 116px;
		$image-height: 63px;

		.thumbnail {
			display: block;
			width: $image-width;
			border: 2px solid white;

			img {
				display: block;
				width: $image-width;
				height: $image-height;
			}

			.video-length {
				position: absolute;
				bottom: 2px;
				left: 74px;
				width: 35px;
				text-align: right;
				@include tag-text;
			}
		}

		.thumbnail-shadow {
			display: block;
			height: 4px;
			background-color: gray;
			width: $image-width + 4px;
			position: absolute;
		}

		.details {
			position: absolute;
			left: $image-width + 10px + 4px;
			top: 2px;
			//width = related - image - spaces - padding for anchor - padding for borders
			width: $related-width - $image-width - 10px - 8px - 4px;

			h3 {
				&:hover {
					text-decoration: underline;
					color: $title-color;
				}
			}

			.additional-info {
				clear: both;
				text-decoration: none;

				&:hover {
					text-decoration: none;
				}
			}
		}

		h3 {
			word-wrap: break-word;
		}


	}
}