/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*----------------------------------
 * Typography
 *----------------------------------*/
/* line 51, ../../sass/screen.scss */
h1, h2, h3 {
  font-weight: bold;
}

/* line 55, ../../sass/screen.scss */
h1 {
  height: 2em;
  line-height: 2em;
  font-family: Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* line 61, ../../sass/screen.scss */
h2 {
  font-family: Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: 16px;
}

/* line 67, ../../sass/screen.scss */
body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.3em;
}
/* line 72, ../../sass/screen.scss */
body a, body a:visited, body a:active {
  color: #333;
  text-decoration: none;
}
/* line 76, ../../sass/screen.scss */
body a:hover, body a:visited:hover, body a:active:hover {
  text-decoration: underline;
}

/*----------------------------------
 * Player Section
 *----------------------------------*/
/* line 87, ../../sass/screen.scss */
#video-player {
  width: 900px;
  margin: 20px auto;
  overflow: hidden;
  background-color: #dadada;
  padding: 20px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
}
/* line 99, ../../sass/screen.scss */
#video-player .no-params {
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  line-height: 1.2em;
  background-color: #a2a2a2;
  color: white;
  padding: 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  display: none;
}
/* line 104, ../../sass/screen.scss */
#video-player .no-js {
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  line-height: 1.2em;
  background-color: #a2a2a2;
  color: white;
  padding: 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}

/* line 110, ../../sass/screen.scss */
.player-container {
  float: left;
}
/* line 114, ../../sass/screen.scss */
.player-container .player-wrapper {
  width: 550px;
}
/* line 117, ../../sass/screen.scss */
.player-container .player-wrapper .player {
  width: 550px;
  height: 350px;
}
/* line 124, ../../sass/screen.scss */
.player-container .player-wrapper .description .published-on {
  line-height: 2em;
  color: #4d4d4d;
}
/* line 128, ../../sass/screen.scss */
.player-container .player-wrapper .description .published-on em {
  color: #1C62B9;
}
/* line 133, ../../sass/screen.scss */
.player-container .player-wrapper .description .additional-info {
  margin: 2px 0 5px 0;
}
/* line 138, ../../sass/screen.scss */
.player-container .player-wrapper .additional-info {
  overflow: hidden;
}
/* line 141, ../../sass/screen.scss */
.player-container .player-wrapper .additional-info span {
  float: left;
}
/* line 144, ../../sass/screen.scss */
.player-container .player-wrapper .additional-info span.view-count {
  float: right;
}

/*----------------------------------
 * Related content section
 *----------------------------------*/
/* line 158, ../../sass/screen.scss */
.related-container {
  float: right;
  width: 320px;
}
/* line 164, ../../sass/screen.scss */
.related-container .related-video {
  position: relative;
  margin-bottom: 5px;
}
/* line 169, ../../sass/screen.scss */
.related-container .related-video a {
  display: block;
  overflow: hidden;
}
/* line 173, ../../sass/screen.scss */
.related-container .related-video a:hover {
  background-color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
/* line 179, ../../sass/screen.scss */
.related-container .related-video .thumbnail {
  display: block;
  position: relative;
  width: 120px;
}
/* line 184, ../../sass/screen.scss */
.related-container .related-video .thumbnail img {
  width: 120px;
}
/* line 188, ../../sass/screen.scss */
.related-container .related-video .thumbnail .video-length {
  position: absolute;
  bottom: 4px;
  right: 0;
  background-color: #000;
  padding: 2px 4px;
  color: #ddd;
  font-size: 11px;
  font-weight: bold;
}
/* line 196, ../../sass/screen.scss */
.related-container .related-video .details {
  position: absolute;
  left: 125px;
  top: 2px;
  width: 190px;
}
/* line 202, ../../sass/screen.scss */
.related-container .related-video .details .additional-info {
  clear: both;
}
/* line 207, ../../sass/screen.scss */
.related-container .related-video h3 {
  word-wrap: break-word;
}

/*-------------------------------------
 * IE Browser overrides
 *-------------------------------------*/
/* line 221, ../../sass/screen.scss */
body.ie7 .related-container .related-video a {
  display: inline;
  zoom: 1;
}
